trunk/schemas/ebml_semantics_schema.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--
    ebml_semantics_schema.xml
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:xhtml="http://www.w3.org/1999/xhtml"
    elementFormDefault="qualified" version="01">

    <xs:element name="EBMLSemanticsSchema" type="EBMLSemanticsSchemaType"/>

    <xs:complexType name="EBMLSemanticsSchemaType">
        <xs:sequence>
            <xs:element name="element" type="elementType"
                minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="elementType">
        <xs:attribute name="name" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="[0-9A-Za-z.-]([0-9A-Za-z.-])*"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="path" use="required">
            <!-- <xs:simpleType>
                <xs:restriction base="xs:integer">
                    <xs:pattern value="[0-9]*\*[0-9]*()"/>
                </xs:restriction>
            </xs:simpleType> -->
        </xs:attribute>
        <xs:attribute name="id" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="0x([0-9A-F][0-9A-F])+"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="type" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="master"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="handler" use="required"/>
    </xs:complexType>
</xs:schema>
